#what .item-container{ 
  display: block;
  padding: 1rem;
  /* text-align: center;  */
} 
.item-container .box-item:nth-child(1),
.item-container .box-item:nth-child(2){
  border-right: 0;
  margin: 0;
}
 #what .item-container .box-item i{
  margin-right: 1.5rem;
  align-self: center;
}

#what .item-container .box-item{
  text-align: left;
  display: flex; 
} 
#showcase .showcase-subject{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 110px;
  left: 0;
  right: 0; 
  bottom:0 ;
  background-color: rgba(0, 0, 0, 0.5);
} 
#who{
  display: block;
}
#showcase .showcase-subject{
  top: 80px;
}

